.table {
   background: #949494;
   text-align: center;
   color: white;
   table-layout: auto;
   border-collapse: separate;

}

.tableContainer {
   background-color: #949494;
   padding: 10px;
   border-radius: 10px;
   filter: drop-shadow(0 3px 2px rgb(94, 94, 94));
   margin: 10px;
   width: fit-content;
   max-height: 40vh;
}

.tableCloseButton {
   position: absolute;
   right: 10px;
   top: 10px;
   cursor: pointer;
}

.tableCloseButton img {
   height: 25px;
   width: auto;
}


.containerBody {
   overflow: auto;
   max-height: 32vh;
}

td {
   border: solid 1px #949494;
   background-color: white !important;
   color: black;
   min-width: 100px;
   white-space: nowrap;
}

th {
   border: solid 1px #949494;
   background-color: #949494 !important;
   white-space: nowrap;
   position: sticky;
   top: 0;
}

td:nth-child(1),
th:nth-child(1) {
   border: solid 1px #949494;
   background-color: #949494 !important;
   text-align: left;
   color: white;
}

.tableContainer h4 {
   color: rgb(224, 224, 224);
   margin: 10px 0px 20px;
}

.tableHeader {
   display: flex;
}
.tableHeader img {
   margin-top: 12px;
   margin-left: 5px;
   cursor: pointer;
}

.my-tooltip {
   z-index: 5;
   position: relative;
   color: white;
   background-color: black;
   height: fit-content;
   padding: 10px;
   border-radius: 5px; 
}

.table .btn {
   padding: 0px;
   box-shadow: none !important;
   width: 70px
}
.table .btn-danger {
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}


