.table {
   background: white;
   text-align: center;
   color: white;
   table-layout: auto;
}

.tableContainer {
   background-color: #949494;
   padding: 10px;
   border-radius: 10px;
   filter: drop-shadow(0 3px 2px rgb(94, 94, 94));
   margin: 10px;
   width: fit-content;
   overflow: auto;
}

td {
   border: solid 1px lightgray;
   color: black;
   min-width: 100px;
   white-space: nowrap;
}

th {
   border: solid 1px #949494;
   background-color: #949494 !important;
   white-space: nowrap;
}

td:nth-child(1),
th:nth-child(1) {
   border: solid 1px #949494;
   background-color: #949494;
   text-align: left;
   color: white
}

.tableContainer h4 {
   color: rgb(224, 224, 224);
   margin: 10px 0px 20px
}

.table .btn {
   padding: 0px;
   box-shadow: none !important;
   width: 70px
}
.table .btn-danger {
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}

